<ion-view cache-view="false" view-title="Ajouter un todo">


    <ion-nav-buttons side="secondary">
        <button class="button" ng-click="addElement()">
            Ajouter votre todo
        </button>
    </ion-nav-buttons>


    <ion-content>
        <div class="list">

            <label class="item item-input">
                <span class="input-label">Produit</span>
                <input type="text" ng-model="element.produit" placeholder="Saisissez l'article">
            </label>

            <label class="item item-input">
                <span class="input-label">Quantité</span>
                <input type="text" ng-model="element.quantity" placeholder="Saisissez la quantité">
            </label>
        </div>
    </ion-content>

</ion-view>