<ion-view view-title="Ajouter un todo">

<!--    <ion-header-bar class="bar-positive">
        <button class="button" ng-click="pageView('todolist')">
            Back
        </button>

        <h1 class="title"></h1>
    </ion-header-bar>-->

    <ion-content>
        <div class="list">

            <label class="item item-input">
                <span class="input-label">Produit</span>
                <input type="text" ng-model="element.produit" placeholder="Saisissez l'article">
            </label>

            <label class="item item-input">
                <span class="input-label">Quantité</span>
                <input type="text" ng-model="element.quantity" placeholder="Saisissez la quantité">
            </label>
        </div>
    </ion-content>

    <ion-footer-bar class="bar-positive">
        <!-- New Todo button-->
        <button class="button" ng-click="addElement()">
            Ajouter votre todo
        </button>

        <button class="button" ng-click="pageView('reseau')">
            Ajouter votre todo4
        </button>

    </ion-footer-bar>

</ion-view>