<ion-view view-title="Réseau">

<!--    <ion-nav-bar class="bar-positive">
        &lt;!&ndash;<ion-nav-buttons side="primary">&ndash;&gt;
            <button class="button button-icon" ng-click="toggleMenu()">
                <i class="icon ion-navicon"></i>
            </button>
        &lt;!&ndash;</ion-nav-buttons>&ndash;&gt;
        <h1 class="title">Etat du réseau</h1>
    </ion-nav-bar>-->

    <ion-content ng-controller="networkController">
        <div>Voici l'état du réseau : {{networkState()}}<div>
    </ion-content>
</ion-view>
