<ion-view view-title="Ma Liste de Todo">

    <!--<ion-nav-bar class="bar-positive">-->
        <ion-nav-buttons side="secondary">
            <button class="button" ui-sref="menu.addtodo">
                Ajouter un todo
            </button>
        </ion-nav-buttons>
    </ion-nav-bar><!---->

    <ion-content>
        <ion-list>
            <ion-item ng-repeat="todo in todoList" on-hold="removeTodo(todo.id)" on-swipe-left="removeTodo(todo.id)" ui-sref="menu.todo({todoId: todo.id})">
                <div class="row">
                    <div class="col">{{todo.id}}</div>
                    <div class="col col-50">{{todo.value}}</div>
                    <div class="col">{{todo.quantity}}</div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>

</ion-view>
